@charset "UTF-8";
@font-face {
    font-family: 'cac-police';
    src: url('cac_champagne-webfont.eot');
    src: url('cac_champagne-webfont.eot#iefix')format('embended-opentype') url('cac_champagne-webfont.woff')format('woff'), url('cac_champagne-webfont.ttf')format('true-type'), url('cac_champagne-webfont.svg#cac-police')format('svg')
}

.footer-container {
    display: flex;
    border: 3px black dashed;
}

.section-footer-container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgba(255, 0, 0, 0.3);
    box-shadow: 6px 6px 6px black;
}

.alco-drive {
    font-family: 'cac-police', PilGi, sans-serif;
    font-size: 3em;
    font-style: italic;
    border: 3px black dashed;
    
}
.drvie
{
    justify-content: flex-end;
}
.warning {
    margin: 10%;
}

.warning-text {
    text-align:center;
}

.alco-image {
    border: 3px black dashed;
}