<footer class="footer-container" xmlns:th=" http://www.thymeleaf.org ">
    <section class="section-footer-container">
        <div class="alco-drive">
            <p>Alco</p>
            <p class="drive">drive</p>
        </div>
        <div class="warning">
             <p class="warning-text">
                Avant de reprendre le volant
                rassurez vous d'en être capable.
                reposez vous si votre acolémie 
                est supérieur à la limite autorisée.
            </p>
        </div>
        <div class="alco-image">
            <p>
                <img src="../static/images/drink-driving.jpg"  width= "300" th:src="@{images/drink-driving.jpg}" />
            </p>
        </div>
    </section>
</footer>